.blog {
  margin-bottom: 62px;
}

.blog-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 28px;
}

.title-breadcrumbs {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
}

.blog-article {
  width: 100%;
  max-width: 380px;
  padding: 9px 0px;
  margin-bottom: 16px;
}

.blog-href {
  display: block;
  margin-bottom: 15px;
}

.blog-href:hover .blog-title {
  text-decoration: underline;
  cursor: pointer;
}

.blog-img {
  height: 220px;
  margin-bottom: 17px;
}

.blog-date {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.blog-title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #1e0606;
  margin: 10px 0px 0px 0px;
}

.blog-text {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #1e0606;
}
