<header class="header container">
  <a><img class="index-logo" src="/static/images/logo.svg" alt="logo"></a>
  <nav class="header-nav">
    <ul class=" list-links">
      <li><a class="header-link" href="/pages/blog/index.html">Blog</a></li>
      <li><a class="header-link" href="/pages/catalog/index.html">Catalog</a></li>
      <li><a class="header-link" href="/pages/toys/index.html">Toys</a></li>
    </ul>
    <ul class=" list-link">
      <li><a href="#"><img class="header-search" src="/static/images/search-icon.svg" alt="search"></a></li>
      <li class="contact-us"><a class="header-link header-link-bold " href="/pages/contact-us/index.html">Contact
          Us</a></li>
    </ul>
  </nav>
</header>